<ul class="country-list">
{{#each this}}
<li class="country-field">
    <img src="{{flags.svg}}" alt="{{name.official}}" width="30">
    <h2 class="country-name">{{this.name}}</h2>
</li>
{{/each}}
</ul>
